{% load static %}
<!DOCTYPE html>
<html>
<head> <title>Тесты</title>
     <style>
         table {width: 600px;
                border: 1px solid green;
                margin: auto;}
         div {text-align: center;}
</style>
</head>
<body>
<div class="fon">
<div><img src="{% static 'toster/img/1.jpg' %}" alt=""></div>

<h1>Лучшие Тесты по информатике</h1>
<div><table border=1></div>
<tr>	<td>Название теста</td>
	<td>Количество вопросов</td>
	<td></td></tr>
<tr>	<td>Системы счисления</td>
	<td>5</td>
	<td><a href="test">Пройти тест</a></td></tr>








</table>
</div><div>
</div>
</body>
</html>